{#
/**
* @file
* Theme override for a 'form' element.
*
* Available variables
* - attributes: A list of HTML attributes for the wrapper element.
* - children: The child elements of the form.
*
* @see template_preprocess_form()
*/
#}

{% if element['#form_id'] == "views_exposed_form" %}
<form{{ attributes.addClass('news-feed__category') }}>
    {{ children }}
</form>
{#<div class="news-feed__category input-group">#}
    {#{{ children }}#}
{#</div>#}
{% else %}
<form{{ attributes }}>
    {{ children }}
</form>
{% endif %}
