{#
/**
* @file
* Theme override for a breadcrumb trail.
*
* Available variables:
* - breadcrumb: Breadcrumb trail items.
*/
#}

{% if breadcrumb %}
<nav role="navigation" aria-label="You are here:">
    <h2 class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ul class="breadcrumbs">
        {% for item in breadcrumb %}
        <li>
            {% if item.text == "Home" %}
            {% if item.url %}
            <a href="{{ item.url }}">
                {% include '@utilities/icon.twig' with { icon: 'home' } %}

            </a>
            {% else %}
            {{ item.text }}
            {% endif %}
            {% else %}
            {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
            {{ item.text }}
            {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
